// COLORS
$pokedex_red: #c9092a;
$pokedex_black: #1d2221;
$pokedex_grey: #cec7c9;
$pokedex_dark_red: #7b1724;
$pokedex_blue: #2f99dd;
$pokedex_white: #efefef;
$font: $pokedex_black;
$background: $pokedex_white;
// FONTS
$font-reg: 'opensans-regular', sans-serif;
$font-bold: 'opensans-bold';
// MAIN
body
{
    font-family: $font-reg;
    font-size: 100%;

    color: $font;
    background: $background;
}

.hidden
{
    display: none;
}

.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    width: 0;
    height: 0;

    content: '';

    opacity: .0;
}

.hamburger
{
    display: block;
    float: right;
    margin-top:0.25em;
    width: 2.3rem;
    height: 2.3rem;
    padding: 1px;
    .top,
    .mid,
    .bot
    {
        width: 100%;
        height: 10%;
        margin-top: 20%;
        background: $pokedex_white;
    }
    .bot
    {
        margin-bottom: 10%;
    }
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 1em;

    color: $pokedex_white;
    border-bottom: thick solid $pokedex_black;
    background: $pokedex_red;
    h1
    {
        font-size: 1.6em;        text-transform: uppercase;        line-height: 1rem;

        float: left;

        margin: 0;
        margin-top: 0.75em;
        margin-left: .5em;

        color: $pokedex_white;
        .hideForMobile
        {
            display: none;
        }
    }
    .blueball
    {
        position: relative;

        float: left;

        width: 2.4em;
        height: 2.4em;

        border: thick solid $pokedex_black;
        border-radius: 50%;
        background: $pokedex_blue;
    }
    .blueball::after
    {
        position: absolute;
        top: 15%;
        left: 15%;

        width: 50%;
        height: 50%;

        content: '';

        border-radius: 50%;
        background: transparentize(#fff, .6);
    }

    #mainNav.closed
    {
        display: none;
        ul
        {
            display: none;
        }
    }
    #mainNav
    {
        font-size: 1.25em;

        display: block;

        margin-top: 4em;
        // margin-right: 2em;
        // margin-top: 2em;
        ul
        {
            clear: both;
            overflow: hidden;

            width: 100%;
            margin: 0;
            padding: 0;

            list-style: none;

            border: medium solid $pokedex_black;
            background: $pokedex_dark_red;
            -webkit-box-shadow: inset 3px 5px 60px -13px rgba(0,0,0,.43);
               -moz-box-shadow: inset 3px 5px 60px -13px rgba(0,0,0,.43);
                    box-shadow: inset 3px 5px 60px -13px rgba(0,0,0,.43);

            li
            {
                display: block;

                margin: 0;
                padding: 0;
                a:hover,a.current
                {
                    color: $pokedex_white;
                    background: transparentize(lighten($pokedex_red, 5),.5);
                }

                a
                {
                    display: block;

                    width: 100%;
                    padding: 1em;

                    text-decoration: none;
                    text-transform: uppercase;

                    color: inherit;
                }
            }
        }
    }
}

main
{
  #pokemon-of-the-day{
    img{
      display: block;
      margin:0 auto;
      height:8em;
      width: 8em;
    }
  }
  #ivcalc{
    #entries{
      position: relative;
      list-style: none;
      margin:0;
      margin-bottom: 1em;
      padding:0;
      clear: both;
      display: block;
      padding-top:0.2em;
      #rowAdd{
        width:80%;
        max-width: 14em;
        clear:both;
        text-decoration: none;
        padding:0.5em 1em;
        box-sizing: border-box;
        display: block;
        text-align: center;
        margin:1em auto;
        background: $pokedex_dark_red;
        color:$pokedex_white;
      }
      li{
        float: right;
        width:90%;
        clear: both;
        display: block;
        padding:0;
        margin:0;
        margin-top:1em;
        border-left:thin solid $pokedex_black;
        // background: $pokedex_red;
        position: relative;
        margin-bottom: 1em;
        .stats{
          display: block;
        }
        .expand{
          position: absolute;
          left:-2em;
          text-align: center;
          width:1.4em;
          height:1.4em;
          line-height: 1.4em;
          text-decoration: none;
          color:$pokedex_white;
          display: block;
          background: $pokedex_red;
          border-radius: 50%;
        }
      }
      li.closed{
        .stats{
          display: none;
        }
      }
    }
    input[type="submit"]{
      display: block;
      border:solid medium $pokedex_black;
      width:95%;
      background:$pokedex_dark_red;
      color:$pokedex_white;
      max-width: 16em;
      text-transform: uppercase;
      margin:0 auto;
      clear: right;
      box-sizing: border-box;
      padding:1em;
      float: none;
    }
    .addRow{
      float:right;
      display: block;
      width:1.8em;
      height:1.8em;
      margin:auto 1em;
      line-height: 1em;
      text-decoration: none;
      text-align: center;
      border-radius: 50%;
      color:$pokedex_white;
      background: $pokedex_red;
    }
    // #stats, #pokeinfo{
    //
      input, label,select{
        width:100%;
        max-width: 8em;
        // margin-bottom: 1em;
        padding:0.4em;
      }
      input{
        margin-top:0.2em;
      }
      input,select{
        border:solid thin $pokedex_black;
        float:right;
        clear: right;
      }

      input[type="radio"],input[type="checkbox"]{
        float:right;
        width:1.5em;
        height:1.5em;
        display: block;
        margin:0;
        padding:0;
        margin-top:.25em;
      }
      input[type="number"]{
        clear: none;
        margin-right: 0.5em;
        max-width: 4em;
      }

      label{
        float:left;
        clear:left;
      }
    // }
  }
    width: 100%;
    max-width: 22em;
    min-height: 30em;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 2em;
}

#results{
  .ivspread{
    width: 100%;
    font-size: 0.5rem;
  }
}

footer
{
    font-size: .5em;

    // position: absolute;
    // bottom: 0;
    // left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: .8em;

    background: $pokedex_grey;
    .center
    {
        display: inline-block;

        width: 100%;
        margin: 0 auto;
        margin-top: 1em;

        text-align: center;
    }
    .left
    {
        float: left;
        clear: left;

        width: 50%;

        text-align: left;
    }
    .right
    {
        float: right;

        width: 50%;

        text-align: right;
    }
    .hide
    {
        display: none;
    }
}


@media only screen and (min-width:60em)
{
    header
    {
        h1
        {
            .hideForMobile
            {
                display: inline;
            }
        }
        .hamburger
        {
            display: none;
        }
        #mainNav.closed,
        #mainNav
        {
            display: block;
            float: right;

            margin-top: 0;

            text-align: right;
            ul
            {
                // border:0;
                display: block;

                box-sizing: border-box;
                // background-color: transparent;
                // box-shadow: none;
                li
                {
                    display: inline-block;
                    a
                    {
                        display: inline-block;

                        width: auto;
                        padding: .5em 1em;
                    }
                }
            }
        }
    }
}
