// COLORS
$pokedex_red: #c9092a;
$pokedex_black: #1d2221;
$pokedex_grey: #cec7c9;
$pokedex_dark_red: #7b1724;
$pokedex_blue: #2f99dd;
$pokedex_white: #efefef;
$font: $pokedex_black;
$background: $pokedex_white;
// FONTS
$font-reg: 'opensans-regular', sans-serif;
$font-bold: 'opensans-bold';
// MAIN
body
{
    font-family: $font-reg;
    font-size: 100%;

    color: $font;
    background: $background;
}

.hidden
{
    display: none;
}

.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    width: 0;
    height: 0;

    content: '';

    opacity: .0;
}

.hamburger
{
    display: block;
    float: right;

    width: 2.3rem;
    height: 2.3rem;
    padding: 1px;
    .top,
    .mid,
    .bot
    {
        width: 100%;
        height: 10%;
        margin-top: 20%;

        background: $pokedex_white;
    }
    .bot
    {
        margin-bottom: 10%;
    }
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 1em;

    color: $pokedex_white;
    border-bottom: thick solid $pokedex_black;
    background: $pokedex_red;
    h1
    {
        font-size: 2.2em;
        line-height: 1rem;

        float: left;

        margin: 0;
        margin-top: .4em;
        margin-left: .5em;

        color: $pokedex_white;
        .hideForMobile
        {
            display: none;
        }
    }
    .blueball
    {
        position: relative;

        float: left;

        width: 2.4em;
        height: 2.4em;

        border: thick solid $pokedex_black;
        border-radius: 50%;
        background: $pokedex_blue;
    }
    .blueball::after
    {
        position: absolute;
        top: 15%;
        left: 15%;

        width: 50%;
        height: 50%;

        content: '';

        border-radius: 50%;
        background: transparentize(#fff, .6);
    }

    #mainNav.closed
    {
        display: none;
        ul
        {
            display: none;
        }
    }
    #mainNav
    {
        font-size: 1.25em;

        display: block;

        margin-top: 4em;
        // margin-right: 2em;
        // margin-top: 2em;
        ul
        {
            clear: both;
            overflow: hidden;

            width: 100%;
            margin: 0;
            padding: 0;

            list-style: none;

            border: medium solid $pokedex_black;
            background: $pokedex_dark_red;
            -webkit-box-shadow: inset 3px 5px 60px -13px rgba(0,0,0,.43);
               -moz-box-shadow: inset 3px 5px 60px -13px rgba(0,0,0,.43);
                    box-shadow: inset 3px 5px 60px -13px rgba(0,0,0,.43);

            li
            {
                display: block;

                margin: 0;
                padding: 0;
                a:hover
                {
                    color: $pokedex_white;
                    background: transparentize(lighten($pokedex_red, 5),.5);
                }

                a
                {
                    display: block;

                    width: 100%;
                    padding: 1em;

                    text-decoration: none;
                    text-transform: uppercase;

                    color: inherit;
                }
            }
        }
    }
}

main
{
    width: 100%;
    max-width: 60em;
    min-height: 30em;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 2em;
}

footer
{
    font-size: .5em;

    position: absolute;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: .8em;

    background: $pokedex_grey;
    .center
    {
        display: inline-block;

        width: 100%;
        margin: 0 auto;
        margin-top: 1em;

        text-align: center;
    }
    .left
    {
        float: left;
        clear: left;

        width: 50%;

        text-align: left;
    }
    .right
    {
        float: right;

        width: 50%;

        text-align: right;
    }
    .hide
    {
        display: none;
    }
}


@media only screen and (min-width:60em)
{
    header
    {
        h1
        {
            .hideForMobile
            {
                display: inline;
            }
        }
        .hamburger
        {
            display: none;
        }
        #mainNav.closed,
        #mainNav
        {
            display: block;
            float: right;

            margin-top: 0;

            text-align: right;
            ul
            {
                // border:0;
                display: block;

                box-sizing: border-box;
                // background-color: transparent;
                // box-shadow: none;
                li
                {
                    display: inline-block;
                    a
                    {
                        display: inline-block;

                        width: auto;
                        padding: .5em 1em;
                    }
                }
            }
        }
    }
}
